.ant-layout {
  min-height: 90vh;
}

.ant-layout-content {
  padding: 20px;
}

.ant-table-row {
  cursor: pointer;
}

.ant-space-vertical {
  width: 100%;
}

.ant-form-item {
  margin-bottom: 0px;
}

.ant-statistic-title {
  font-weight: 600;
  font-size: 18px;
}

.ant-card-head {
  font-weight: 600;
}
